# Data Cleaning for IMDB_Top250movies2_OMDB_Detailed.csv

In [1]:
import pandas as pd 
mypath = r'C:\Users\xxxli\Desktop\ResumeProjects\IMDB_Analysis_SQL\imdb_data_csv\datasets\IMDB_Top250movies2_OMDB_Detailed.csv'
df = pd.read_csv(mypath)
# df.dtypes

What I need before read in SQL:

- RowId                  int64
- Title                 string
- Year                   int64
- Rated                 string
- Released            DateTime
- Runtime                int64
- Genre                 string
- Director              String
- Writer                string
- Actors                string
- Plot                  string
- Language              string
- Country               string
- Awards                string
- Poster                string
- Ratings.Source        string
- Ratings.Value         string
- Metascore            float64
- imdbRating           float64
- imdbVotes             int64
- imdbID                string
- Type                  string
- tomatoMeter          float64
- tomatoImage          float64
- tomatoRating         float64
- tomatoReviews        float64
- tomatoFresh          float64
- tomatoRotten         float64
- tomatoConsensus      float64
- tomatoUserMeter      float64
- tomatoUserRating     float64
- tomatoUserReviews    float64
- tomatoURL             string
- DVD                 DateTime
- BoxOffice            float64
- Production            string
- Website               string
- Response                bool

Note:

For all string cells, if encounters a comma, replace it with a single space.

In [2]:
df.Released = pd.to_datetime(df.Released, format="%d-%b-%y")
df.DVD = pd.to_datetime(df.DVD, format="%d-%b-%y")
# df

In [3]:
def imdbvotes_toInt(x):
    x = x.replace(',','')
    return int(x)
df.imdbVotes = df.imdbVotes.apply(imdbvotes_toInt)
# df.head()

In [4]:
def BoxOffice_toFloat(x):
    x = str(x)
    x = x.replace(',','')
    x = x.replace('$','')
    x = x.replace(' ','')
    return float(x)
df.BoxOffice = df.BoxOffice.apply(BoxOffice_toFloat)
# df.head()

In [5]:
def Runtime_toInt(x):
    time = int(x.split(' ')[0])
    return time
df.Runtime = df.Runtime.apply(Runtime_toInt)
# df.head()

In [6]:
def replacecommainstr(x):
    return str(x.replace(','," ")) if type(x) == str else x
df2 = df.applymap(replacecommainstr)
#df2.head()

In [7]:
df2.index = df2.RowId
df3 = df2.drop(columns=['RowId'])
# df3

In [9]:
df3.to_csv(r'C:\Users\xxxli\Desktop\ResumeProjects\IMDB_Analysis_SQL\imdb_data_csv\datasets\IMDB_Top250movies2_OMDB_Detailed_Cleaned.csv')

In [8]:
df3.dtypes

Title                        object
Year                          int64
Rated                        object
Released             datetime64[ns]
Runtime                       int64
Genre                        object
Director                     object
Writer                       object
Actors                       object
Plot                         object
Language                     object
Country                      object
Awards                       object
Poster                       object
Ratings.Source               object
Ratings.Value                object
Metascore                   float64
imdbRating                  float64
imdbVotes                     int64
imdbID                       object
Type                         object
tomatoMeter                 float64
tomatoImage                 float64
tomatoRating                float64
tomatoReviews               float64
tomatoFresh                 float64
tomatoRotten                float64
tomatoConsensus             float64
tomatoUserMeter             float64
tomatoUserRating            float64
tomatoUserReviews           float64
tomatoURL                    object
DVD                  datetime64[ns]
BoxOffice                   float64
Production                   object
Website                      object
Response                       bool
dtype: object